@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Nunito:wght@200;300;400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*
thisPurple: #6C00FF
thisGrey: #474746
*/

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #6c00ff;
}

::selection {
  color: #fff;
  background: #6c00ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #212223;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.top h1 {
  color: #fff;
  font-family: 'Londrina Outline', cursive;
  font-weight: 800;
  font-size: 75px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top {
  margin-top: 20px;
  border-bottom: 3px solid #fff;

  padding-bottom: 15px;
  width: 40%;
}

.buttons {
  margin-top: 40px;
  display: flex;
  column-gap: 90px;
}

.buttons button {
  font-size: 15px;
  padding: 5px 0px 5px 0px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  min-width: 180px;
  max-width: 180px;
  border-radius: 30px;
  background: #ffc833;
  color: #312f28;
  border: none;
}

.buttons button:hover {
  background: #e9b62c;
}

.top span.smaller {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 39px;
  padding: 10px;
}

.x {
  color: #ffc833;
}

.o {
  color: #6c00ff;
}

.buttons button:hover {
  cursor: pointer;
}

.buttons button i {
  margin-right: 15px;
}

.buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-area {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0px;
}

.cell {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 50px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

.cell:hover {
  cursor: pointer;
  /*background: #2e2f336b;*/
}

.border-right {
  border-right: 3px solid white;
}

.border-bottom {
  border-bottom: 3px solid white;
}

.border-left {
  border-left: 3px solid #fff;
}

.border-top {
  border-top: 3px solid #fff;
}
